<h1> <%= @destination.name %>, </h1>
<h2> <%= @destination.country %> </h2>
<br><br>


5 Most Recent Posts: <% @destination.recent_5_posts %><br><br>


Featured Post: <% @destination.featured_post %><br><br>


<= ALL Blogger Ages: <%= @destination.all_blogger_ages %><br><br>
%% Average Blogger Age: <%= @destination.bloggers_average_age %><br><br>